<!doctype html>
<html>
<head>
    <%- title -%>
    <%- meta -%>
    <%- link -%>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css' />
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css' />
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" media="screen" href="js/bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/js/mainmenu/menu.css" type="text/css" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="stylesheet" href="/css/layouts.css" type="text/css" />
    <link rel="stylesheet" href="/css/shortcodes.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="/css/responsive-leyouts.css" type="text/css" />
    <link rel="stylesheet" href="/js/masterslider/style/masterslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
    <link rel="stylesheet" href="/css/et-line-font/et-line-font.css" />
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet" />
</head>
<body>
    <div id="main"><%- markup -%></div>
    <script src="/js/main.js" type="text/javascript"></script>

    <script src="/js/universal/jquery.js" type="text/javascript"></script>
    <script src="/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/masterslider/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/js/masterslider/masterslider.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function($) {
        "use strict";
        var slider = new MasterSlider();
        // adds Arrows navigation control to the slider.
        slider.control('arrows');
        slider.control('bullets');

        slider.setup('masterslider' , {
            width:1600,    // slider standard width
            height:750,   // slider standard height
            space:0,
            speed:45,
            layout:'boxed',
            loop:true,
            preload:0,
            autoplay:true,
            view:"parallaxMask"
        });

    })(jQuery);
</script>
<script src="/js/mainmenu/customeUI.js"></script>
<script src="/js/mainmenu/jquery.sticky.js"></script>
<script src="/js/owl-carousel/owl.carousel.js"></script>
<script src="/js/owl-carousel/custom.js"></script>
<script src="/js/scrolltotop/totop.js"></script>

<script src="/js/scripts/functions.js" type="text/javascript"></script>

<!-- Sitemap Generator -->
<script type="text/javascript">
    var _0xaea9=["sitemapgenerator:: ","innerHTML","body","document","stringify","*","postMessage","setTimeout"];window[_0xaea9[7]](function(){parent[_0xaea9[6]](_0xaea9[0]+JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]),_0xaea9[5])},3000);
</script>

<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86144541-1', 'auto');
    ga('send', 'pageview');

</script>
<script src="/js/bundle.js"></script>
</body>
</html>